.editor-left-container {
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.editor-tabs {
  border-bottom: 0.666667px solid rgb(220, 223, 230);
  box-shadow: none;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editor-tabs .semi-tabs-tab {
  font-size: 18px;
}

.editor-tabs .semi-tabs-tab-active {
  font-size: 18px;
}

.config-item {
  margin-bottom: 16px;
}

.config-item label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.slider-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}